#avatar_header {
  display: grid;
  padding-top: 6em;
  background-color: #f0a000;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#avatar_name {
    justify-self: center;
}

#avatar_img {
    justify-self: center;
}
