.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.error-area{
  margin-bottom: 1.5em;
  padding: 1em;
  border-style: solid;
  border-color: red;
  color: red;
}

#tweet_form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

#tweet_prompt {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 5px solid #545149;
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
}

#tweet_text {
    border: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#tweet_submit {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#tweet_submit_btn {
    background-color: #4056a1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-family: "Bungee", sans-serif;
    font-size: 24px;
    margin: .2em;
}

#tweet_counter {
    font-family: "Bungee", sans-serif;
    color: #545149;
    margin: .2em;
    font-size: 18px;
}